.about-view {

    .hero {
        h2 {
            font-size: var(--title-font-size);
        }
    }
    
    #about-intro {
        display: flex;
        gap: 90px;
        // padding-block-end: var(--section-padding-block);

        @media (width < 900px) {
            flex-direction: column;
        }

        .intro-text {
            width: 100%;
            flex-shrink: 1;
            width: 100px;
            flex-grow: 1;

            @media (width < 900px) {
                width: unset;
            }
            
            h3 {
                font-size: var(--heading-small-font-size);
                font-weight: bold;
                margin-bottom: 45px;
            }

        }

        .intro-image-container {
            width: 100%;
            flex-shrink: 1;
            width: 100px;
            flex-grow: 0.5;

            @media (width < 900px) {
                order: -1;
                width: unset;
            }

            img {
                width: 100%;
                aspect-ratio: 1;
                background: var(--text-secondary);
                display: flex;
                justify-content: center;
                object-fit: cover;
                align-items: center;
                transform: rotate(-2deg);
                border-radius: 5px;
                box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);

                @media (width < 900px) {
                    width: 50%;
                }
            }
        }
    }

    #about-process {

        // margin-bottom: 120px;

        .container {
            height: 300vh;
            margin-inline: calc(-1 * var(--inline-page-margins));
            
            .sticky {
                overflow: hidden;
                position: sticky;
                top: 0;
                padding-top: 100px;
                height: 100vh;

                >h2 {
                    margin-inline: var(--inline-page-margins);
                    margin-bottom: 60px;
                }

                .scroll-indicator {
                    position: relative;
                    height: 45px;
                    margin-inline: var(--inline-page-margins);
                    width: calc(100vw - 2 * var(--inline-page-margins));
                    margin-bottom: 90px;

                    &-line {
                        width: 100%;
                        // width: calc(100% - 2 * var(--inline-page-margins));
                        height: 5px;
                        border-radius: 100px;
                        // background-color: var(--text-primary);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &-circle {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: var(--raspberry);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        @media (width < 900px) {
                            left: 50%;
                            top: 0;
                        }
                    }
                }
                .scroll-section {
                    // position: absolute;
                    // top: 0;
                    // height: 100vh;
                    width: fit-content;
                    will-change: transform;
                    display: flex;
                    align-items: center;
                    // padding-top: 150px;


                    .scroll-frames {
                        padding-inline-start: var(--inline-page-margins);
                        display: flex;
                        gap: 30vw;

                        .scroll-frame {
                            // width: calc(100vw - 2 * var(--inline-page-margins));
                            flex-shrink: 0;
                            height: 100%;
                            display: flex;
                            font-size: var(--heading-small-font-size);
                            gap: 0.5em;
                            width: 50vw;

                            &:last-of-type {
                                // width: 50%;
                            }

                            .semantic-icon {
                                font-size: 1em;
                                width: 1em;
                                color: var(--text-accent);
                                // transform: translateY(0.1em);
                            }

                            h3 {
                                font-size: var(--heading-small-font-size);
                                gap: 45px;
                                margin-bottom: 45px;
                                width: fit-content;
                                display: flex;
                                gap: 30px;
                                align-items: center;
                                color: var(--text-accent);
                            }

                            p.body {
                                color: var(--text-primary);

                                @media (width < 900px) {
                                    max-width: 90%;
                                }
                            }
                        }
                    }

                }
            }
        }

        @media (width < 900px) {
            width: 100%;
            margin-bottom: 120px;

            .container {
                margin: 60px 0 0 0;
                height: fit-content;

                .sticky {
                    display: flex;
                    gap: 60px;
                    margin: 0;
                    padding: 0;
                    position: static;
                    overflow: unset;
                    height: fit-content;
    
                    > h2 {
                        margin-inline: 0;
                    }
        
                    .scroll-indicator {
                        flex-shrink: 0;
                        width: 24px;
                        margin: 0;
                        height: unset;
                        align-self: stretch;

                        &-line {
                            height: 100%;
                            width: 5px;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);

                        }
                    }

                    .scroll-section {
                        margin: 0;
                        padding: 0;
                        flex-grow: 1;
                        height: fit-content;

                        .scroll-frames {
                            flex-direction: column;
                            padding: 0;
                            gap: 60px;
                            width: 100%;

                            .scroll-frame {
                                width: 100%;
                            }
                        }
                    }
                }
            }


        }

        @media (width < 500px) {
            .container .sticky {
                gap: 30px;
            }
        }

        @media (width < 400px) {
            .container .sticky .scroll-section .scroll-frames .scroll-frame h3 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                width: 100%;
                hyphens: manual;

                svg {
                    align-self: flex-start;
                }
            }
        }
    }

    #about-skills {

        min-height: 50vh;

        h2 {
            margin-bottom: 60px;
        }

        .cards-container {
            width: calc(100% + 2*var(--inline-page-margins));
            margin-left: calc(-1 * var(--inline-page-margins));
            mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
            overflow: hidden;

            @media (width > 1500px) {
                width: calc(100% + 240px);
                margin-left: -120px;
            }
        }

        .cards {
            list-style-type: none;
            display: flex;
            height: fit-content;
            gap: 30px;
            margin-top: calc(var(--title-font-size) - 10px);
            padding-block: 10px;
        }

        .cards-container[data-animated="true"] .cards {
            animation: scroll 20s linear infinite;
        }

        .cards-container[data-animated="true"] .cards:hover {
            // animation-play-state: paused;
        }

        .card {
            width: 20rem;
            height: 25rem;
            padding: 2rem;
            flex-shrink: 0;
            border-radius: 15px;
            background: hsl(from var(--birch) h s l / 20%);
            // background-color: var(--card-color);
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

            @media (width < 900px) {
                width: 18rem;
                height: calc(18rem * 1.25);
            }

            h3 {
                font-size: var(--subheading-font-size);
                margin-bottom: 2rem;
                color: var(--text-accent);
            }

            p {
                font-size: var(--body-large-font-size);
                color: var(--text-primary);
            }
        }
    }

    .skills-accordion {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

footer.about {
    margin-top: 0 !important;
    padding-top: 0 !important;
    min-height: unset !important;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-5 * (20rem + 30px)))
    }
}