.about-view {

    .hero {
        h2 {
            font-size: var(--title-font-size);
        }
    }
    
    #about-intro {
        display: flex;
        gap: 90px;
        // padding-block-end: var(--section-padding-block);

        @media (width < 900px) {
            flex-direction: column;
        }

        .intro-text {
            width: 100%;
            flex-shrink: 1;
            
            h3 {
                font-size: var(--heading-small-font-size);
                font-weight: bold;
                margin-bottom: 45px;
            }

        }

        .intro-image-container {
            width: 100%;
            flex-shrink: 1;

            @media (width < 900px) {
                order: -1;
            }

            .image-placeholder {
                width: 100%;
                aspect-ratio: calc(16/9);
                background: var(--text-secondary);
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-2deg);
                border-radius: 5px;

                @media (width < 900px) {
                    width: 50%;
                }
            }
        }
    }

    #about-process {

        .container {
            height: 300vh;
            margin-inline: calc(-1 * var(--inline-page-margins));
            
            .sticky {
                overflow: hidden;
                position: sticky;
                top: 0;
                // height: 100vh;
                padding-top: 100px;

                >h2 {
                    margin-inline: var(--inline-page-margins);
                    margin-bottom: calc(var(--inline-page-margins) / 2);
                }

                .scroll-indicator {
                    position: relative;
                    height: 45px;
                    margin-inline: var(--inline-page-margins);
                    width: calc(100vw - 2 * var(--inline-page-margins));
                    margin-bottom: 90px;

                    &-line {
                        width: 100%;
                        // width: calc(100% - 2 * var(--inline-page-margins));
                        height: 4px;
                        border-radius: 100px;
                        // background-color: var(--text-primary);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &-circle {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        border: solid var(--raspberry) 4px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: var(--bg-color);

                        @media (width < 900px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .scroll-section {
                    // position: absolute;
                    // top: 0;
                    // height: 100vh;
                    width: fit-content;
                    will-change: transform;
                    display: flex;
                    align-items: center;
                    // padding-top: 150px;


                    .scroll-frames {
                        padding-inline-start: var(--inline-page-margins);
                        display: flex;
                        gap: 30vw;

                        .scroll-frame {
                            // width: calc(100vw - 2 * var(--inline-page-margins));
                            flex-shrink: 0;
                            height: 100%;
                            display: flex;
                            font-size: var(--heading-small-font-size);
                            gap: 0.5em;
                            width: 50vw;

                            &:last-of-type {
                                // width: 50%;
                            }

                            .semantic-icon {
                                font-size: 1em;
                                width: 1em;
                                color: var(--text-accent);
                                // transform: translateY(0.1em);
                            }

                            h3 {
                                font-size: var(--heading-small-font-size);
                                gap: 45px;
                                margin-bottom: 45px;
                                width: fit-content;
                                display: flex;
                                gap: 30px;
                                align-items: center;
                                color: var(--text-accent);
                            }

                            p.body {
                                color: var(--text-primary);

                                @media (width < 900px) {
                                    max-width: 90%;
                                }
                            }
                        }
                    }

                }
            }
        }

        @media (width < 900px) {
            width: 100%;

            .container {
                margin: 60px 0 0 0;
                height: fit-content;

                .sticky {
                    display: flex;
                    gap: 60px;
                    margin: 0;
                    padding: 0;
                    position: static;
                    overflow: unset;
    
                    > h2 {
                        margin-inline: 0;
                    }
        
                    .scroll-indicator {
                        flex-shrink: 0;
                        width: 24px;
                        margin: 0;
                        height: 60vh;
                        position: sticky;
                        top: 25vh;

                        &-line {
                            height: 100%;
                            width: 8px;
                            margin-left: 8px;

                        }
                    }

                    .scroll-section {
                        margin: 0;
                        padding: 0;
                        flex-grow: 1;

                        .scroll-frames {
                            flex-direction: column;
                            padding: 0;
                            gap: 60px;
                            width: 100%;

                            .scroll-frame {
                                width: 100%;
                            }
                        }
                    }
                }
            }


        }
    }

    #about-skills {

        min-height: 50vh;

        .cards-container {
            width: calc(100% + 2*var(--inline-page-margins));
            margin-left: calc(-1 * var(--inline-page-margins));
            mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);

            @media (width > 1500px) {
                width: calc(100% + 240px);
                margin-left: -120px;
            }
        }

        .cards {
            list-style-type: none;
            display: flex;
            height: fit-content;
            gap: 30px;
            margin-top: calc(var(--title-font-size) - 10px);
            overflow: hidden;
            padding-block: 10px;
        }

        .card {
            width: 20rem;
            height: 25rem;
            padding: 2rem;
            flex-shrink: 0;
            border-radius: 15px;
            background-color: var(--card-color);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

            h3 {
                font-size: var(--subheading-font-size);
                margin-bottom: 2rem;
                color: var(--text-accent);
            }

            p {
                font-size: var(--body-large-font-size);
                color: var(--text-primary);
            }
        }

    //     h2 {
    //         margin-bottom: 60px;
    //         position: sticky;
    //         top: 100px;
    //     }
    //     .cards {
    //         // padding-top: 50vh;
    //         display: grid;
    //         gap: 60px;
    //         list-style-type: none;
    //         position: sticky;

    //         .card {
    //             background-color: var(--bg-color);
    //             box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.2);
    //             width: 100%;
    //             height: 70vh;
    //             position: sticky;
    //             top: 200px;
    //             border-radius: 60px;
    //             padding: 60px;

    //             h3 {
    //                 font-size: 2rem;
    //                 margin-bottom: 2rem;
    //             }

    //             p {
    //                 font-size: 1.5rem;
    //                 line-height: 200%;
    //                 // max-width: 50%;
    //             }
    //         }

    //         #card1 {
    //             top: 210px
    //         }
    //         #card2 {
    //             top: 230px;
    //         }
    //         #card3 {
    //             top: 250px;
    //         }
    //         #card4 {
    //             top: 270px;
    //         }
    //     }
    }
}

.spacer {
    height: 100vh;
}