.wrapper:has(.contact-view) {
    height: 100vh;
}

.contact-view {

    .hero {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
    }

    h2 {
        font-size: var(--title-font-size);
    }

    .gradient {
        background: -webkit-linear-gradient(0deg, var(--mint), var(--lime), var(--mint), var(--lime), var(--mint));
        background-size: 200% 200%;
        background-position: 0% 50%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shimmer 2s linear infinite;
    }

    a.serifed {
        font-size: var(--subheading-font-size);
        position: relative;
        isolation: isolate;
        display: inline-block;
        transition: all 1s;
        color: var(--mint);

        @media (width < 700px) {
            display: none;
        }
    }

    a.button-like {
        color: var(--bg-color);
        background-color: var(--text-accent);
        width: fit-content;
        padding: 10px 15px;
        border-radius: 9999px;
        display: none;
        width: 100%;
        text-align: center;
        @media (width < 700px) {
            display: block;
        }
    }

    .socials {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        .icon {
            width: 2rem;
        }
    }

    .contacts {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 2rem;

        a {
            font-size: var(--body-large-font-size);
            white-space: nowrap;
            position: relative;
            font-weight: 500;

            svg {
                height: 0.8em;
                width: 0.8em;
                margin-left: .35em;
                transform: translateY(0.1em);
            }
        }

        @media (width < 900px) {

            gap: 1rem;

            a {
                padding: .3em 1em .5em;
                border-radius: 100px;
                border: 1px solid var(--text-primary);
            }

        }
    }
}

