footer.main-footer {
    min-height: 50vh;
    padding-inline: var(--inline-page-margins);
    padding-block: min(var(--inline-page-margins), 120px);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: end;
    gap: 3rem;

    h2 {
        // margin-bottom: 1em
    }

    a {
        cursor: pointer;
        font-size: var(--subheading-font-size);
        position: relative;
        isolation: isolate;
        display: inline-block;
        width: fit-content;
        transition: all 1s;
        color: var(--mint);
    }

    a:hover {
        .contact-line {
            width: 100%;
        }
    }

    .contact-line {
        position: absolute;
        bottom: 0px;
        width: 0%;
        height: 5px;
        background-color: var(--raspberry);
        transition: width 1s;
        border-radius: 10px;
        z-index: -1;
    }

    .footer-tags {
        display: flex;
        gap: 45px;
    }

    .footer-tag {
        display: flex;
        gap: 10px;

        p {
            font-weight: bolder;
        }
    }

    .semantic-icon {
        width: 21px;
        color: var(--text-accent);
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }

    .footer-brandmark {
        svg {
            height: 22px;
        }
    }


}