footer.main-footer {
    min-height: 50vh;
    padding-inline: var(--inline-page-margins);
    padding-block: min(var(--inline-page-margins), 120px);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: end;
    gap: 3rem;

    // &.about {
    //     padding-top: 0;
    //     margin-top: 0;
    // }

    h2 {

        .gradient {
            background: -webkit-linear-gradient(0deg, var(--text-primary), var(--text-accent), var(--text-primary), var(--text-accent), var(--text-primary));
            background-size: 200% 200%;
            background-position: 0% 50%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shimmer 2s linear infinite;
        }

        @media (width < 900px) {
            text-align: center;
        }

        @media (width < 700px) {
            // text-align: left;
        }
    }

    a.email, a.linkedin, a.github {
        cursor: pointer;
        font-size: var(--body-large-font-size);
        font-weight: 500;
        position: relative;
        isolation: isolate;
        display: block;
        width: fit-content;
        color: var(--mint);
        white-space: nowrap;

        svg {
            height: 0.8em;
            width: 0.8em;
            margin-left: .35em;
            transform: translateY(0.1em);
        }

            @media (width < 900px) {
                border: 1px solid var(--text-primary);
                padding: .3em 1em .5em;
                border-radius: 100px;
            }

            @media (width < 500px) {
                width: 100%;
                text-align: center;
            }
    }

    a.button-like {
        color: var(--bg-color);
        background-color: var(--text-accent);
        width: fit-content;
        padding: 10px 25px 13px;
        border-radius: 9999px;
        display: none;
        margin: auto;
        @media (width < 700px) {
            display: block;
        }

    }

    .footer-contacts {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 60px;

        .icon svg {
            width: var(--heading-small-font-size);
        }

        @media (width < 900px) {
            margin-inline: auto;
            gap: 1rem;
            justify-content: center;
        }
    }

    .footer-tags {
        display: flex;
        gap: 45px;
        @media (width < 700px) {
            flex-direction: column;
            gap: 10px;
        }
    }

    .footer-tag {
        display: flex;
        gap: 10px;

        p {
            font-weight: bolder;
        }
    }

    .semantic-icon {
        width: 21px;
        color: var(--text-accent);
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;

        @media (width < 900px) {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }
        @media (width < 700px) {
            // align-items: flex-start;
        }
    }

    .footer-brandmark {
        svg {
            height: 22px;
        }
    }


}