.projects {

    .hero {
        h1, h2 {
            font-size: var(--title-font-size);
        }
    
        h2 span {
            display: inline-block;
            font-weight: inherit;

            span {
                color: var(--text-accent);
            }
        }
    }
    
    #video {
        width: 100%;
        aspect-ratio: 16/9;

        iframe {
            width: 100%;
            height: 100%;   
            border: 1px solid hsl(from var(--dust) h s l / 0.2);
            border-radius: 20px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        }
    }
        
    .semantic-icon {
        color: var(--text-accent);
        width: calc(12em/16);
        transform: translateY(0.25rem);
        padding: 0;
    }

    
    
    #projects {
        h2 {
            margin-bottom: 60px;
        }
    }

}    

