:root {

    /* colours */
    --raspberry: hsl(348 79% 57% / 100%);
    --mint: hsl(111 24% 94% / 100%);
    --lime:	hsl(115 49% 72% / 100%);
    --apple:hsl(112 35% 46% / 100%);
    --birch:hsl(104 7% 44% / 100%);
    --dust: hsl(102 5% 59% / 100%);
    --forest: hsl(105 10% 15% / 100%);
    --dark-forest: hsl(141 36% 9% / 100%);

    /* redundant ? */
    --dark-gradient-start: #394436;
    --dark-gradient-end: #181D17;
    --light-gradient-start: #D8E8D4;
    --light-gradient-end: #B0C1A8;
    --background-light: var(--mint);
    --background-dark: var(--dark-gradient-end);
    --mint-translucent: #EEF4ED10;
    --mint-semitranslucent: #EEF4ED20;
    --forest-translucent: #252B2310;

    /* layout */
    --inline-page-margins: 120px;

    --background-color: var(--dark-forest);

    --title-font-size: 5rem;
    --heading-font-size: 4rem;
    --heading-small-font-size: 3rem;
    --subheading-font-size: 2rem;
    --body-large-font-size: 1.5rem;
    --body-regular-font-size: 1rem;
    --body-small-font-size: 0.75rem;

    --main-margin-top: 5rem;

    @media (width > 1500px) {
        --inline-page-margins: calc(50vw - 630px);
    }

    @media (width < 1000px) {
        --inline-page-margins: 60px;
    }

    @media (width < 900px) {
        --title-font-size: 4rem;
        --heading-font-size: 3rem;
        --heading-small-font-size: 2rem;
        --body-large-font-size: 1.2rem;
    }

    @media (width < 700px) {
        --title-font-size: 3.5rem;
        --heading-font-size: 2.5rem;
        --subheading-font-size: 1.75rem;
        --body-large-font-size: 1rem;
    }

    @media (width < 500px) {
        --title-font-size: 3rem;
        // --heading-font-size: 2rem;
        --subheading-font-size: 1.5rem;
        --inline-page-margins: 30px;
    }

    @media (width < 400px) {
        --inline-page-margins: 15px;
        --title-font-size: 2.5rem;
    }
}