footer {
    width: 100%;
    margin: 0;
    border-radius: 24px 24px 0 0;
    background-color: var(--mint-translucent);
    padding: 60px var(--inline-page-margins);
    margin-top: 150px;
    text-align: center;
    border-top: 2px solid var(--mint-translucent);
}

.footer-cta {
    font-family: 'mundial', sans-serif;
    font-weight: 700;
    font-size: calc(36rem/16);
    margin: 0;
}

.contacts {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 60px 0;
}

.footer-contacts p {
    margin: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.semantic-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.semantic-icon {
    width: 42px;
}