.showreel-placeholder {
    width: calc(100% + var(--inline-page-margins));
    aspect-ratio: 3;
    margin-left: calc(-1 * var(--inline-page-margins) / 2);
    background-color: var(--birch);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1500px) {
    .showreel-placeholder {
        width: calc(100% + 150px);
        margin-left: -75px;
    }
}