:root {

    /* colours */
    --raspberry: #e8395c;
    --mint: #EEF4ED;
    --lime: #9BDB95;
    --apple: #58A04D;
    --birch: #6C7768;
    --dust: #949B91;
    --forest: #252B23;

    --dark-gradient-start: #394436;
    --dark-gradient-end: #181D17;
    --light-gradient-start: #D8E8D4;
    --light-gradient-end: #B0C1A8;

    --background-light: var(--mint);
    --background-dark: var(--dark-gradient-end);

    --mint-translucent: #EEF4ED10;
    --mint-semitranslucent: #EEF4ED20;
    --forest-translucent: #252B2310;

    /* layout */
    --inline-page-margins: 120px;

}

@media screen and (max-width: 1024px) {
    :root {
        --inline-page-margins: 60px;
    }
}

@media screen and (min-width: 1500px) {
    :root {
        --inline-page-margins: calc(50vw - 630px);
    }
}